.header {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  height: 95vh;
  position: relative;

  &__logo-box {
    left: 4rem;
    position: absolute;
    top: 4rem;
  }
  &__logo {
    height: 3.5rem;
  }

  &__box-text {
    left: 50%;
    position: absolute;
    top: 40%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}
