.composition {
  position: relative;

  &__photo {
    // border-radius: 2px;
    box-shadow: $shadow-main rgba($color-black, 0.4);
    outline-offset: 2rem;
    position: absolute;
    transition: all 0.2s ease-in-out;
    width: 55%;
    z-index: 10;

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      box-shadow: $shadow-medium rgba($color-black, 0.5);
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translate(-0.5rem);
      z-index: 20;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
