.u-center-txt {
  text-align: center !important;
}

.u-margin-bttn-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-bttn-medium {
  margin-bottom: 4rem !important;
}
.u-margin-bttn-big {
  margin-bottom: 8rem !important;
}
